*{
    color: white;
    background-color: gray;
    font-weight: bolder;
    margin: 0;
}
header{
    text-align: right;
    font-size: 3em;
}
span{
    color:rgb(91, 231, 91);
    font-size: 1.2em;
    font-weight: bold;
}
span::after{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;
}

#portal.container{
display: flex;
flex-wrap: wrap;  
background-color: gray;
}

.box{
padding: 0px;
color: white;
width: 400px;
height: 300px;
background-color: transparent;
margin: 0px;
}
/*
Changing boot strap set
*/
.navbar-collapse{
    justify-content: space-around;

}