.gym-spots {
    margin: 0 10%;
}

.gym-info {
    text-align: left;
    word-wrap: break-word;
    width: 70%;
    padding: 20px;
    color: white;
    text-decoration: none;
    /* background-color: rgba(168, 166, 168, 0.5); */
    background-color: #4D6EAB;
    margin: 20px auto;
}

.gym-info h2 {
    text-align: center;
}

.gym-info a {
    color: white;
}

.gym-info img {
    width: 100%;
}

.gym-info ul {
    padding-left: 0;
}

.center-iframe {
    border:solid 1px #777;
    margin: 20px auto;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.amazonLink {
    border:none !important; 
    margin:0px !important;
}

.amazonTextAndImage {
    width: 120px;
    height: 240px;
}

@media only screen and (max-width: 700px) {
    .gym-info {
        width: 100%;
    }

    .calendar-w-100 {
        width: 100%;
    }

    .mapDisplay {
        width: 100%;
    }

    .gym-spots {
        margin: 0 1%;
    }
}