.container{
display: flex;
flex-wrap: wrap;  
flex-direction: row;
justify-content: center;
}

Footer {
    margin-top: 4em;
}

img {
max-width: 40%;
background-color: transparent;
margin: 0 auto;
}

img:hover {
    opacity: .7;
}